*{
    margin: 0;
    padding: 0;
    /* background: black; */

}

.container {
    width: 100%;
    height: 750px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/bgcalc.jpg);
    background-size: cover;
    background-position: fixed;
    /* margin: 20px 50px; */
}

.calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 70px auto;
    top: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.9);
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0px 20px;
    font-size: 15px;
    padding-top: 20px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator , .number , .empty {
    width: 50px;
    height: 50px ;
    margin: 15px;
}